
:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Color */
  --main-text-color: #2e2f42;
  --light-color: #434455;
  --white-color: #ffffff;
  --secondary-text-color: #f4f4fd;

  --bg-dark-color: #2e2f42;
  --bg-light-color: #f4f4fd;

  --accent-color: #4d5ae5;
  
  --hover-focus-color: #404bbf;
}

body {
  color: var(--light-color);
  font-family: var(--primary-font);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover{
color: var(--hover-focus-color);
}

.link:focus{
  color: var(--hover-focus-color);
}
/* Header */
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-transform: uppercase;
}
.logo-part {
  color: var(--main-text-color);
}

.nav-links-list{
  font-style: normal;
}

.header-nav-item {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-contact {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}
/* Hero */
.hero {
  background-color: var(--bg-dark-color);
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
}

.btn {
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.btn:hover{
 background-color: var(--hover-focus-color);
}

.btn:focus{
  background-color: var(--hover-focus-color);
  
}
/* About us */
.about-us,
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.about-us-descr,
.team-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}

/* What are we doing */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-text-color);
}

/* Our Team */

.our-team{
  background-color: var(--bg-light-color);
}
.team-list-item{
  background-color: var(--white-color);
}
/* Footer */

.footer {
  background-color: var(--bg-dark-color);
  font-family: var(--secondary-font);
}

.footer-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
}

.footer-logo {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-transform: uppercase;
}
.footer-logo-part{
  color: var(--secondary-text-color);
}

/* PORTFOLIO */

/* Button */

.button {
  padding: 12px 24px;
  width: 116px;
  height: 48px;
  background-color: var(--secondary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}
 /* Portfolio list */
.list-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.list-item-descr {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}